/* 
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}  */


.game {
	width: 1000px;
	height: 400px;
	margin: auto;
	background: url('../img/road.png') 0px 125px;
}

#dino{
	width: 50px;
	height: 50px;
	background-image: url('../img/png-transparent-gray-dinosaur-illustration-tyrannosaurus-t-shirt-dino-t-rex-runner-2-lonely-t-rex-run-2-google-chrome-8-bit-game-angle-text.png');
	background-size: 50px 50px;
	position: relative;
	top: 150px;
	}
	
	#cactus{
		width: 20px;
		height: 40px;
		background-image: url('../img/16f85b4c4357f69cac435e4974db7561.png');
		background-size: 20px 40px;
		position: relative;
		top: 110px;
		left: 800px;
		animation:cactusMov 1s infinite linear ;
	}
	@keyframes cactusMov{
		0%{
			left:800px;
		}
		100%{
			left: -20px;
		}
	}

	.jump{
		animation: jump 0.3s linear ;
	}
	@keyframes jump {
		0%{
			top:150px;
		}
		30%{
			top: 130px;
		}
		50%{
			top: 80px;
		}
		80%{
			top: 130px;
		}
		100%{
			top: 150px;
		}
	}